<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add form</title>
</head>
<body style="background-color: #B14EED;">
	<center><h1>Add Form</h1></center>
	<center><form action="add_insert" method="post">
		<table border="2">
			<tr>
				<th></th>
				<td></td>
			</tr>
			<tr>
				<th>Employee Name</th>
				<td> <input type="text" name="employeeName"></td>
			</tr>
			<tr>
				<th>Employee Address</th>
				<td> <input type="text" name="employeeAddress"></td>
			</tr>
			<tr>
				<th>Employee Phone</th>
				<td> <input type="number" name="employeePhone"></td>
			</tr>
			<tr>
				<th>Employee Salary</th>
				<td> <input type="number" name="employeeSalary"></td>
			</tr>
			<tr>
				<td><button type="submit">Save..</button></td>
				<td><button type="reset">ReSet...</td></button>
			</tr>	
			
		</table>
	</form></center>
</body>
</html>